.learning-container{
  


    @media (max-width: 1280px) {
      h1 {
        font-size: 26px;
        margin: 0.5em 2em;
      }
  
      h3 {
        font-size: 16px;
        margin: 0.5em 3em;
      }
    
        button {
          font-size: 26px;
          margin: 0 2em;
        }
    
       
        
      }
    
      @media (max-width: 1024px) {
        h1 {
          font-size: 20px;
          margin: 0.5em 2em;
        }
    
        h3 {
          font-size: 16px;
          margin: 0.5em 2.5em;
        }
    
        button {
          font-size: 20px;
          padding: 0.5em 1.5em;
        }
        svg{
          width: 100%;
        }
        
      }
    
      @media (max-width: 768px) {
        flex-direction: column;
    
        h1 {
          font-size: 20px;
          margin: 0.5em 2em;
        }
    
        h3 {
          font-size: 14px;
          margin: 0.5em 3em;
        }
    
        button {
          font-size: 20px;
        }
    
        img{
          width: 70%;
        }
        svg{
          width: 120%;
        }
      }
    
      @media (max-width: 640px) {
        h1 {
          font-size: 18px;
          margin: 0.5em 1em;
        }
    
        h3 {
          font-size: 14px;
          margin: 0.5em 1.5em;
        }
    
        button {
          font-size: 16px;
          
        }

        img{
          width: 50%;
        }
        
        svg{
          width: 90%;
        }
      }
}