@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");


$back-color: #f7f5f3;

.container {
  width: 100%;
  height: 100%;
  font-family: "Itim", cursive;

  
  .header {
    font-family: "Itim", cursive;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, #75cbf6 0%, #ffffff 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 600px) {
      padding-left: 20%;
    }
    span {
      margin: auto;
      font-size: 200%;
    }
  }

  .content {
    display: flex;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }  
   
  }

  .switch-button {
    width: 300px;
    margin: auto;
    display: flex;
    justify-items: center;
    span {
      margin-top: 35px;
    }
  }
}

.button-up,
.button-down {
  position: relative;
  padding: 5px;
  margin: 30px auto;
  background: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.button-down:hover {
  transform: translate3d(10px, 0, 0);
}

.button-up:hover {
  transform: translate3d(-10px, 0, 0);
}

.button-up::after,
.button-down::after {
  content: "";
  position: absolute;
  left: 17px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
.button-up::after {
  top: 10px;
  transform: rotate(-45deg);
}

.button-down::after {
  top: 10px;
  left: 5px;
  transform: rotate(135deg);
}
.tagarea.flipped {
  transform: rotateX(180deg);
}
